.ann filter=lfs diff=lfs merge=lfs -text
res/basket.ann filter=lfs diff=lfs merge=lfs -text
res/products.pkl filter=lfs diff=lfs merge=lfs -text
res/order_basket.pkl filter=lfs diff=lfs merge=lfs -text
